*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
.nav{
    position: fixed;
    width: 100%;
    height: 80px;
    display: block;
    background-color: rgb(48, 45, 45);
}
.inner-nav{
    width: 1350px;
    height: 100%;
    display: block;
    margin: 0 auto;
    background-color: rgb(226, 117, 135);
}
.pill-nav a{
    display: block;
    color: rgb(75, 74, 74);
    text-align: center;
    padding: 14px;
    text-decoration: none;
    font-size: 20px;
    border-radius: 5px;
    float: left;
    margin-top: 20px;    
}
.pill-nav a:hover {
    color: white;
  }
  header{
    background-image: url("beautiful_Pets.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: fixed;
    width: 100%;
    height: 750px;
  }
  .title h1{
    font-size: 60px;
    letter-spacing: 7px;
    color: rgb(236, 8, 149);
    text-align: center;
    margin: 0;
  }
  .title{
    position: absolute;
    top: 30%;
    left: 40%;
    font-family: 'Teko', sans-serif;
    font-size: 20px;
  }
  p{
      text-align: center;
      padding-top: 20px;
      font-family: 'Playfair Display',serif;
      font-size: large;
  }
  #about img{
      padding-left: 200px;
      width: 70%;
      height: 500px;
  }
  #about h1{
      text-align: center;
  }
  #footer{
    width: 100%;
    display: block;
    overflow: hidden;
    padding: 70px 0;
    box-sizing: border-box;
    background-color: #18181a;
  }